@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
  height: 100%;
}

body{
  background-image: url("../img/bg-animate.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-color: #EEF2F6 !important;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}

.icon-button{
  cursor: pointer;
}

.searchform-container:hover #searchform, .searchform-container.searchform-focused #searchform {
  box-shadow: 0px 2px 8px rgb(37 44 54 / 25%);
}

#searchform {
  position: relative;
  display: flex;
  max-width: inherit;
  align-items: center;
  z-index: 3;
  height: 56px !important;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgb(37 44 54 / 15%);
}

.searchform-container {
  margin-left: 0;
  width: 100%;
  max-width: calc(642px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
}

#searchbox {
  flex-grow: 1;
  width: auto;
  height: 100%;
  order: 2;
  border: none;
  outline: none;
  box-shadow: none;
  color: #27292f;
  background-color: transparent;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 8px 18px;
  padding-left: 1rem !important;
}

#submit-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 5;
  z-index: 2;
  color: #7c8086;
  background-color: #fff;
  border: none;
  width: 55px;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  flex-shrink: 0;
}

.main-content{
  width: 100%;
  display: grid;
  place-items: center;
  z-index: auto;
  padding-top: calc(40vh - 114px);
}

#searcher{
  text-align: center;
  padding-top: 10px;
}

#searcher-select{
  box-shadow: 0px 1px 5px rgb(37 44 54 / 25%);
  width: auto;
  height: 100%;
  order: 2;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  color: #5A626D;
  background-color: #fff;
  padding: 8px 18px;
  padding-left: 5px !important;
}

.footer {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  color: #27292f;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer p {
  padding: 0;
  margin: 0;
}

.footer a, .footer a:visited {
  color: currentColor;
}

.footer a, .footer a:hover{
  color: currentColor;
}

.footer .v-divider {
  padding: 0 0.8rem;
}

a {
  outline: none !important;
}

p {
  color: #7E8790;
}

.text-sm {
  font-size: 13.2px;
}

.footer .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

strong {
  font-family: inherit;
  font-weight: 600;
}

#suggestions-container{
    margin-left: 0;
    width: 100%;
    max-width: calc(642px);
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    user-select: none;
    margin-top: 56px;
}

#suggestions{
  background-color: #ffffff;
  width: 100%;
  border: 1px solid transparent;
  box-shadow: 0px 1px 4px rgb(37 44 54 / 15%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  padding-top: 10px;
  display: none;
}

#suggestions div p{
  color:#27292f;
}

.py-08{
  padding-top:.3rem;
  padding-bottom: .3rem;
}

#suggestions div:hover{
  background-color: #eee;
}

#suggestions div{
  cursor: pointer;
}

#suggestions div p li{
  list-style: none;
}



body.themeDark{
  background-color: #1e2028 !important;
}

.themeDark #suggestions{
  background-color: #242731 !important;
}

.themeDark #suggestions li{
  color: #84889C !important;
}

.themeDark div h4 span{
  color: #fff !important;
} 

.themeDark #searchform{
  box-shadow: 0 0 0 4px #3b3e4f !important;
  border: 1px solid #3b3e4f !important;
  background-color: #242731 !important;
}

.themeDark #searchbox{
  color: #84889C !important;
}

.themeDark #searchbox::placeholder{
  color: #84889C !important;
}

.themeDark #submit-button{
  background-color: #242731 !important;
  color: #84889C !important;
}

.themeDark #searcher-select{
  box-shadow: 0 0 0 2px #3b3e4f !important;
  border: 1px solid #3b3e4f !important;
  background-color: #242731 !important;
  color: #84889C !important;
}

.themeDark .bi-list{
  color: #C2C4CF !important;  
}

.themeDark .dropdown-menu{
  background-color: #1E2028 !important;
}

.themeDark .dropdown-item{
  color: #fff !important;
}

.themeDark .dropdown-item:hover{
  background-color: #242731 !important;
}

.themeDark .footer {
  border-top: solid 1px #282828;
  background-color: #242731;
  color: #c9d4dc;
}

.themeDark p {
  color: #7E8790;
}